body {
  margin: 0;
  font-family: Calibri;
}

#box{
  margin: 20px;
}

.map{
  margin: 5px 0px 0px 0px;
  width: 100%;
  height: 400px;
}

.h1 {
  text-align: center;
  font-size: 20px;
}

.a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 0px 0px 10px;
}

.title{
  text-shadow: 2px 2px 5px #73e600;
  font-family: Arial;
  height: 40px;
  text-align: center;
}

#registerThisTag{
  display: none;
  color: #000000;
  border: 1px solid #000000;
}

.logout{
 
}

.navigation {
  
  width: 100%;
  height: 30px;
  background-color: #000000;
  color: #ffffff;
}

.navleft{
  width: 90%;
  float: left;
}

.navright{
  width: 10%;
  float: left;
}

.tag{
  outline: 1px solid #000000;
  padding: 10px 0px 0px 10px;
  margin: 10px 0px 10px 0px;
  width: 360px;
  box-shadow: 2px 5px 5px 2px #999999;
}

.tagDisplay{

}

.coordDisplay{

}

#container {
  clear: both;
  margin-top: 10px;
}

.text {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
}

.invalid {
  border-color: red;
}

form {
  margin: 10px 0px 10px 0px;
}

input {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

#confess{
  height: 100px;
}

input[type=text] {
  display: inline
}

input[type=text]:focus {
  outline: none;
}

.error {
  border: red solid 4px;
  padding: 10px;
  margin: 0 10px;
}

.search{
  margin: 10px 0px 10px 0px;
}
