<div id='container' ng-model='omgeo.services'>

  <h1>{{username}} - My Tags</h1>



 <div class='navigation'>
    <a href='#/' class='create'>Home</a>
    <a href='#/signin' ng-click='signout();' class='logout'>Logout</a>
  </div>
  <div style="width: 700px; height: 400px;" id="map"></div>
  <!--box for users to register new tags-->
  <!--will need to validate/check if tag already exists here or somewhere else in program-->
  <form name="registerForm" ng-submit='addTag()' novalidate>
    <input name='tagname' type='text' ng-model='tag.tagname' placeholder = "Enter tag name" required>
    <input name='lat' type='text' ng-model='tag.lat' placeholder = "Enter latitude" required>
    <input name='long' type='text' ng-model='tag.long' placeholder = "Enter longitude" required>
    <button type="submit" ng-disabled=shortenForm.$invalid>Register Tag</button>
  </form>
  <!--display for all user tags-->
    <input class="search" name='search' type='text' ng-model='searcher' placeholder = "Search" >
      <div class='tags' ng-repeat="tag in data.tags | filter:searcher " ng-click="">
      <div class='tag'>
      <div class="tagDisplay">tagname: {{tag.tagname}} </div>
      <div class="coordDisplay">lat: {{tag.lat}}, long: {{tag.long}}</div><br>
      </div>
  </div>
</div>
