<div id='container' ng-model='greenfield.services' ng-controller="ProfileController">

  <h1>Profile - My Tags</h1>

 <div class='navigation'>
  <ul>
    <li><a href='#/profile' class='index'>My Profile</a></li>
    <li><a href='#/home' class='create'>Home</a></li>
    <li><a href='#/signin' ng-click='signout();' class='logout'>Logout</a></li>
      </ul>
  </div>
  <!--box for users to register new tags-->
  <!--will need to validate/check if tag already exists here or somewhere else in program-->

  <!--
  <form name="registerForm" ng-submit='addTag()' novalidate>
    <input name='tagname' type='text' ng-model='tag.tagname' placeholder = "Enter tag name" required>
    <input name='coordinates' type='text' ng-model='tag.coordinates' placeholder = "Enter tag name" required>
    <button type="submit" ng-disabled=shortenForm.$invalid>Register Tag</button>
  </form>

  -->
  <!--display for all user tags-->
    <input name='search' type='text'  placeholder = "Search" >
      <!-- <div class='tags' ng-repeat="tag in data.tags | filter:searcher " ng-click=""> -->
      <div class="tagName">{{data}}</div>
      <div class="tagLocation">{{data.tags}}</div>
  <!-- </div> -->


    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-mocks/angular-mocks.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    
    <!-- Angular Modules -->
    <script src="app/auth/auth.js"></script>
    <script src="app/home/home.js"></script>
    <script src="app/profile/profile.js"></script>
    <script src="app/app.js"></script>
    <script src="app/services/services.js"></script>

    </div>