<div id="container">
  
  <h1 class='h1' >Login</h1>
  
  <div class='navigation'>
      <a class='a' href='#/' class='create'>Home</a>
  </div>
  
  <!-- box for users to log in -->
  <form name="signinForm" ng-submit="login()">
    <input name="email/username" ng-model="user.username" type="text" placeholder="Enter email address or username" required>
    <input name="pass" ng-model="user.password" type="text" placeholder="Enter password" required>
    <button type="submit" ng-disabled=shortenForm.$invalid>Log In</button>
  </form>
  
  <!-- results of login attempt display here -->
  <div class="result" ng-if="conflict">Failed log-in. Please check your username and password.</div>
  
  <!-- link to signup -->
  <div>
    Not a user? <br>
    <a href='#/signup'>Sign Up</a>
  </div>
  
</div>
