<div id="container">
  
  <h1>Sign Up</h1>
  
  <div class='navigation'>
    <ul>
      <li><a href='/home' class='create'>Home</a></li>
    </ul>
  </div>
  
  <!-- box for users to sign up -->
  <form name="signupForm" ng-submit="addUser(newEmail, newName, newUsername, newPass); newEmail=''; newName=''; newUsername=''; newPass=''">
    <input name="email" ng-model="newEmail" type="email" placeholder="Enter email address" required>
    <input name="user" ng-model="newName" type="text" placeholder="Enter full name" required>
    <input name="username" ng-model="newUsername" type="text" placeholder="Enter username" required>
    <input name="pass" ng-model="newPass" type="text" placeholder="Enter password" required>
    <button type="submit" ng-disabled=shortenForm.$invalid>Sign Up</button>
  </form>
  
  <!-- results of sign up attempt display here -->
  <div class="result"><!-- {{ results of submit }} --></div>
  
  <!-- link to login -->
  <div>
    Already a user? <br>
    <a href='/signin'>Log In</a>
  </div>
  
</div>