<div id="container">
  
  <h1>Sign Up</h1>
  
  <div class='navigation'>
    <ul>
      <li><a href='#/' class='create'>Home</a></li>
    </ul>
  </div>

  <!-- box for users to sign up -->
  <form name="signupForm" ng-submit="addUser()" novalidate>
    <input name="email" ng-model="newSignup.email" type="email" placeholder="Enter email address" required>
    <input name="user" ng-model="newSignup.name" type="text" placeholder="Enter full name" required>
    <input name="username" ng-model="newSignup.username" type="text" placeholder="Enter username" required>
    <input name="pass" ng-model="newSignup.password" type="text" placeholder="Enter password" required>
    <button type="submit" ng-disabled=shortenForm.$invalid>Sign Up</button>
  </form>

  <!-- results of sign up attempt display here -->
  <div class="result" ng-if="conflict">User already exists.</div>

  <!-- link to login -->
  <div>
    Already a user? <br>
    <a href='#/signin'>Log In</a>
  </div>

</div>
